.dashboard-height{
    height: calc(100% - 50px);
    margin: 0px;
}
.dashboard-div1{
    background: #fff;
    width: 100%;
    margin: 0px;
    height: 50%;
}
.dashboard-div2{
    background: #bbb;
    width: 100%;
    margin: 0px;
    height: 50%;
}
.div-header{
    height: 15%;
    width: 100%;
}
.div-body{
    height: 85%;
    .latest_stats{
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
        width: 20%;
    }
    .latest_stats:nth-child(1){
        border-left: 1px solid #ddd;
    }
}
.total-assets{
    .chart-body{
        height: 85%;
    }
    .chart-footer{
        height: 15%;
    }
    .text{
        font-size: 14px;
        color: #31393c;
    }
    .value{
        font-size: 12px;
        color: #90a4ae;
    }
}



