<div class="dashboard-height">
  <div class="row col-md-12 width100 dashboard-div1">
    <!-- <div class="col-md-12"> -->
      <div class="flex div-header d-flex align-items-center">   <!-- to align center vertically -->
        <div class="col-md-10">
          <span>Latest Statistics</span>
        </div>
        <div class="col-md-2">Refresh</div>
      </div>
      <div class="flex col-md-12 div-body">
        <div class="latest_stats">
          <app-highmap></app-highmap>
        </div>
        <div class="latest_stats total-assets">
            <div class="chart-body">
              <app-horizontal-bar-chart [options]="total_assets_options" [data]="total_assets_data"></app-horizontal-bar-chart>
            </div>
            <div class="chart-footer d-flex justify-content-around bg-white">
                <div class="d-flex align-items-center flex-sm-column">
                  <div class="text">4 Alerts</div>
                  <div class="value">Fleet2</div>
                </div>
                <div class="d-flex align-items-center flex-sm-column ">
                  <div class="text">3 Alerts</div>
                  <div class="value">Fleet8</div>
                </div>
            </div>         
        </div>
        <div class="latest_stats">
          <app-donut-chart [options]="alert_status_options" [data]="alert_status_data"></app-donut-chart>
        </div>
        <div class="latest_stats">
          <app-donut-chart [options]="comm_status_options" [data]="comm_status_data"></app-donut-chart>
        </div>
        <div class="latest_stats">
          <app-donut-chart [options]="fence_status_options" [data]="fence_status_data"></app-donut-chart>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <div class="row width100 dashboard-div2">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>
